.button {
  width: 150px;
  height: 30px;
  padding: 5px;
  background: #C70101;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;

  &:hover {
    color: #C70101;
    background-color: #fff;
    border: 2px solid #C70101;
  }

  &:active {
    opacity: 0.7;
  }

  &--main {
    width: 300px;
    height: 50px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 66px;
  }

  &--submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }

  &--item {
    width: 131px;
    height: 40px;
    font-size: 14px;
    line-height: 22px;
  }
}