.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 294px;
  min-height: 442px;
  border: 2px solid #E8E8E8;
  padding: 20px;
}

.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  flex: 2 0 auto;
}

.catalog-item__content {
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  &--active {
    display: flex;
  }
}

.catalog-item__list {
  list-style: none;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  transition: 1s all;
  opacity: 0;

  &--active {
    display: flex;
    opacity: 100%;
  }

  li {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
    padding-left: 15px;
    margin-bottom: 3px;
      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #C70101;
        top: 6px;
        left: 0;
      }
  }
}

.catalog-item__img {
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  object-fit: contain;
}

.catalog-item__name {
  font-family: 'Museo Moderno', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #0D0D0D;
  text-align: center;
  margin-top: 15px;
}

.catalog-item__descr {
  font-size: 14px;
  line-height: 22px;
  color: #0D0D0D;
  text-align: center;
  margin-top: 15px;
}

.catalog-item__about,
.catalog-item__back {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #C70101;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.7;
    color: #C70101;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 2px solid #E8E8E8;
  padding-top: 18px;
}

.catalog-item__price {
  display: flex;
  flex-direction: column;
}

.catalog-item__old-price {
  font-family: 'Museo Moderno', sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #555555;
}

.catalog-item__new-price {
  font-family: 'Museo Moderno', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}