.consultation {
  color: #ffffff;
  min-height: 680px;
  padding: 100px 0 92px;
  background: url(../img/bg-consultation.jpg) center (center/cover) no-repeat;

  @media (max-width: $mobile-width) {
    padding: 50px 0 50px;
    min-height: 550px;
  }
}

.consultation__title {
  font-size: 36px;
  line-height: 54px;
}

.consultation__descr {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 8px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;

    br {
      display: none;
    }
  }
}