.feed-form {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  width: 300px;

  @media (max-width: $mobile-width) {
    width: 100%;
    max-width: 300px;
    margin: 38px auto 0 auto;
  }

  .error {
    border: 2px solid tomato;
  }

  label.error {
    border: none;
    color: tomato;
    font-size: 12px;
  }
}

.feed-form__input {
  height: 50px;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  color: #4B4B4B;

  &:first-of-type {
    margin-top: 0;
  }

  &::placeholder {
    color: #4B4B4B;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.feed-form__button {
  margin-top: 20px;
}